h3  {
    background-color: darkgrey; 
    text-align: center;
    
}

li {
color: cadetblue;
}

p {
    color: darkgreen;
    font-size: 55px;
    font-family: serif;
    
} 
body
{
    background-image: url(funrainfall.jpg); 
    background-repeat: no-repeat; 
    background-blend-mode: lighten;
    background-size: 450px;
    background-size: 29%;
    background-position: center;

}

.title {
    font-size: 10um;
    font-style: italic;

}

.poem {
    font-style: italic;
    font-family: fantasy;
    color:slateblue;
    text-align: center;
}


